:root{
  --var-player-one-color:crimson;
  --var-player-two-color:darkturquoise;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.GameCanvas{
  position: relative;
  display: flex;
  place-items: center;
  justify-content: center;
}

.Board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: .8em;
  width: 50vh;
  height: 50vh;
}


