.RestartButton{
  background-color: rgb(44, 44, 44);
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  border: .2em solid transparent;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
}
  
.RestartButton:hover{
  scale: 105%;
}

.RestartButton[data-isgamefinished = false]{
  display: none;
}
  