button {
    border-radius: 2px;
    border: .2em solid transparent;
    font-size: 3em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
  }

button[data-player = "X"]{
  border-color: blue;
}
button[data-isWinner = "true"]{
  border-color:gold ;
}